{
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es2020": true
  },
  "extends": ["prettier", "standard"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "requireConfigFile": false
  },
  "rules": {
    "max-len": [2, 80, 4, {"ignoreUrls": true}]
  }
}
